.App {
  text-align: center;
}

.main{
  margin-top: 150px;
}

.page-title {
  margin: 6rem;
}

.atl-pic{
  width: 500px;
  margin: 10px;
}

a {
  padding: 1rem;
}

.active {
  background-color: papayawhip;
}